
@using (Html.BeginForm("BookingConf", "Applications", FormMethod.Post))
{ 
    <div class="col-lg-4">
        <input type="text" name="RoomType"/>
        <input type="submit" value="Submit" />
    </div>
}

