
@{
    ViewBag.Title = "StudentConf";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 aligne="center">Login</h2>
@using (Html.BeginForm()) { 

    <div class="row ">
        <p id="display">@ViewBag.Feedback</p>
        <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" >

            <div class="panel-body">
                <form role="form">
                    <div class="form-group input-group">
                        <label>Student Number</label>
                        <input name="Username" id="Username" type="text" class="form-control" onchange="myFunction()" required />
                    </div><br />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
}

